<?xml version="1.0"?>
<config>
	<modules>
		<ID_Activecampaign>
			<version>1.0.0</version>
		</ID_Activecampaign>
	</modules>

	<global>
		<helpers>
			<id_activecampaign>
				<class>ID_Activecampaign_Helper</class>
			</id_activecampaign>
		</helpers>

		<models>
			<id_activecampaign>
				<class>ID_Activecampaign_Model</class>
				<resourceModel>activecampaign_mysql4</resourceModel>
			</id_activecampaign>
		</models>

		<resources>
			<activecampaign_setup>
				<setup>
					<module>ID_Activecampaign</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</activecampaign_setup>
			<activecampaign_write>
				<connection>
					<use>core_write</use>
				</connection>
			</activecampaign_write>
			<activecampaign_read>
				<connection>
					<use>core_read</use>
				</connection>
			</activecampaign_read>
		</resources>

		<events>
			<sales_order_place_after>
				<observers>
					<activecampaign_order_place>
						<class>ID_Activecampaign_Model_Observer</class>
						<method>salesOrderPlaceAfter</method>
					</activecampaign_order_place>
				</observers>
			</sales_order_place_after>

			<!--
			<sales_order_save_commit_after>
				<observers>
					<activecampaign_order_update>
						<class>ID_Activecampaign_Model_Observer</class>
						<method>salesOrderUpdate</method>
					</activecampaign_order_update>
				</observers>
			</sales_order_save_commit_after>
			-->

			<customer_delete_before>
				<observers>
					<activecampaign_delete_customer>
						<class>ID_Activecampaign_Model_Observer</class>
						<method>customerDeleteAfter</method>
					</activecampaign_delete_customer >
				</observers>
			</customer_delete_before>

			<sales_order_payment_cancel>
				<observers>
					<activecampaign_order_cancel>
						<class>ID_Activecampaign_Model_Observer</class>
						<method>salesOrderPaymentCancel</method>
					</activecampaign_order_cancel>
				</observers>
			</sales_order_payment_cancel>

			<newsletter_subscriber_save_after>
				<observers>
					<activecampaign_subscriber_save>
						<class>ID_Activecampaign_Model_Observer</class>
						<method>subscribedToNewsletter</method>
					</activecampaign_subscriber_save>
				</observers>
			</newsletter_subscriber_save_after>
		</events>

		<blocks>
			<activecampaign>
				<class>ID_Activecampaign_Block</class>
			</activecampaign>
			<adminhtml>
				<rewrite>
					<sales_order_view>ID_Activecampaign_Block_Adminhtml_Sales_Order_View</sales_order_view>
				</rewrite>
			</adminhtml>
		</blocks>
	</global>

	<adminhtml>
		<events>
			<adminhtml_customer_save_after>
				<observers>
					<activecampaign_customer_save>
						<class>ID_Activecampaign_Model_Observer</class>
						<method>customerSaveAfter</method>
					</activecampaign_customer_save>
				</observers>
			</adminhtml_customer_save_after>
		</events>
	</adminhtml>

	<crontab>
		<jobs>
			<activecampaign_syncorders>
				<schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
				<run><model>id_activecampaign/cron::syncOrders</model></run>
			</activecampaign_syncorders>
			<activecampaign_synccustomers>
				<schedule><cron_expr>*/12 * * * *</cron_expr></schedule>
				<run><model>id_activecampaign/cron::syncCustomers</model></run>
			</activecampaign_synccustomers>
			<activecampaign_syncabandonedcarts>
				<schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
				<run><model>id_activecampaign/cron::syncAbandonedCarts</model></run>
			</activecampaign_syncabandonedcarts>
			<activecampaign_syncsubscribers>
				<schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
				<run><model>id_activecampaign/cron::syncSubscribers</model></run>
			</activecampaign_syncsubscribers>
		</jobs>
	</crontab>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ID_Activecampaign before="Mage_Adminhtml">ID_Activecampaign_Adminhtml</ID_Activecampaign>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>