<?xml version="1.0"?>
<config>
    <tabs>
        <id>
            <label>Interactive Design</label>
            <sort_order>195</sort_order>
        </id>
    </tabs>

    <sections>
        <id_activecampaign translate="label" module="id_activecampaign">
            <label>ActiveCampaign Integration</label>
            <tab>id</tab>
            <sort_order>999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <config translate="label">
                    <label>ActiveCampaign API Setup</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <api_endpoint translate="label">
                            <label>API URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_endpoint>

                        <api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>

                        <run translate="label">
                            <label>Create Connection</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>activecampaign/button</frontend_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </run>

                        <connection_id translate="label">
                            <label>Connection ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </connection_id>
                    </fields>
                </config>
                <cron_settings>
                    <label>Cron Settings</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <batch_size translate="label">
                            <label>Batch Size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </batch_size>

                        <store_filter translate="title">
                            <label>Filter to selected Store Views</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_store</source_model>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </store_filter>
                    </fields>
                </cron_settings>
            </groups>
        </id_activecampaign>
    </sections>
</config>